body {
  background-color: rgba(0, 0, 0, 0.87);
  text-align: center;
  background-image: url(/Images/Back3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  body a {
    text-decoration: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif; }


.Navbar
    ul{
      display: none;
    }
    
    input:checked  ~  ul{
      display:block;
    }
    
    input {
      display: none;
    }
    
    label {
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid black;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
      user-select: none;
      color: aliceblue;
    }
    
    /* Estilo del boton cuando se pasa el mouse por encima*/
    nav label:hover{
      background: grey;
    }
    
    /* Estilo del boton cuando el menú está expandido*/
    nav input:checked ~  label {
      background: lightgrey; 
    }
    
   nav ul{
      margin-top:0;
      padding: 0;
      width: 200px;
    
    }
    
    
   nav  a {
      display: block;
      background: rgb(137, 136, 167);
      margin: 0;
      padding: 10px;
      list-style: none;
      border-bottom: 1px solid rgb(0, 0, 0);
    }
    
    /*Estilo cuando el mouse pasa encima de cada link del menu*/
   nav li:hover {
      filter: brightness(110%);
    }
nav {
  background-color: rgba(0, 0, 0, 0.301);
  text-align: center;
  padding-top: 14px;
  padding-bottom: 250px;
  margin: auto;
  display: flex;
  flex: center;
  justify-content: center;
  height: 100px; }
  nav a {
    text-decoration: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif; }
    nav a .zoom-box {
      width: auto;
      height: 100px;
      margin: 10px;
      transition: transform .5s;
      /* Animation */ }
    nav a:hover {
      transform: scale(1.5); }

footer {
  background-color: rgba(0, 0, 0, 0.685);
  height: 100px; }
  footer p {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    font-family: 'Times New Roman', Times, serif; }
    footer p:hover {
      transform: scale(1.5); }
    footer p .zoom-box {
      width: auto;
      height: 100px;
      margin: 10px;
      transition: transform .2s; }


      @media screen and (min-width: 320px){
        header{width: 320px;}
        header img {width: 320px;}
        nav{width: 320px;}
        section {width: 320px;}
        body{width: 320px;}
        table{width: 320px;}
        img {width: 320px;}
        tbody{width: 320px;}
        main {width: 320px;
        text-align: center;}
        footer {width: 320px;}
        h2{text-align: center;}
        table img {width: 320px;}
        .open {width: 320px;}
          }
        
          @media screen and (min-width: 768px){
        
            header{width: 768px;}
        header img {width: 768px;}
        nav{width: 768px;}
        section {width: 768px;}
        body{width: 768px;}
        table{width: 768px; display: flex;}
        img {width: 768px;}
        tbody{width: 768px; display: flex;}
        main {width: 768px;
        text-align: center;
        }
        footer {width: 768px;
        padding-top: 10px;}
        table img {width: 768px;}
        .open {width: 768px;}
          }
        
          @media screen and (min-width: 1024px){
        
        
            header{width: 1024px;}
        header img {width: 1024px;}
        nav{width: 1024px;}
        section {width: 1024px;}
        body{width: 1024px;}
        table{width: 1024px; display: flex;}
        img {width: 1024px;}
        tbody{width: 1024px; display: flex;}
        main {width: 1024x;
        text-align: center;
        }
        footer {width: 1024px;
        padding-top: 10px;}
        table img {width: 1024px;}
        .open {width: 1024px;}
          }
        